<a href="/" class="return">Back to Friends</a></p>

<ul>
    <% results.forEach(result => { %>
        <strong class="main"><%= result.name %></strong>
        <p class="main"><%= result.email %></p>

    <% }) %>
<ul class="searchResultUL">
  <li>
    <% if (results.length > 0) { %>
        <% results.forEach(result => { %>
            <a href="/friendReq/<%= result.email %>">
                <strong><%= result.name %></strong>
                <p><%= result.email %></p>
            </a>
        <% }) %>
    <% } else { %>
      <strong>No Results</strong>
    <% } %>
  </li>
</ul>